{% extends 'base.html.twig' %}

{% block title %}Edit Type Bière{% endblock %}

{% block body %}
    <h1 class='my-5'>Editer Type de Bière</h1>
    
    {# {{ include('typebiere/_form.html.twig', {'button_label': 'Modifier'}) }} #}
    {{ form_start(form) }}
    <a class='btn btn-primary btn-sm mb-3' href="{{ path('app_typebiere_index') }}">Retour à la liste</a>
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button><br>
    <a class='btn btn-primary btn-sm mt-3' href="{{ path('app_typebiere_index') }}">Retour à la liste</a>
{{ form_end(form) }}

    

    <!--{{ include('typebiere/_delete_form.html.twig') }}-->
{% endblock %}